/* Selectores Universales*/
*{
list-style: none;
margin: 0;
padding: 0;
}

a::before{
    content:":)";
}

/* Selectores Etiqueta*/
body{
    background-color: #9a99a0;
}

h1{
    color:rgb(17, 4, 77);
}

h1:hover{
    color:hsl(12, 84%, 35%);
}

/* Selectores id */
@import url('https://fonts.googleapis.com/css2? family= Yanone+Kaffeesatz & display=swap');
#parrafoDeColor{
   color: crimson;
font-family: 'Yanone Kaffeesatz', sans-serif;
}


/* Selectores Class */
.parrafoAzul{
    color: rgb(55, 0, 255);
}